@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import "tailwindcss";


@theme {
    --font-title: "Poiret One", sans-serif;
    --color-primary: #6366F1;
    --color-primaryDark: #4F46E5;
    --color-background: #F9FAFB;
    --color-surface: #FFFFFF;
    --color-text: #1F2937;
    --color-muted: #6B7280;
    --color-error: #EF4444;
}